# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# Directories
/bower_components/
/node_modules/

# Files
/prepros.cfg
/.htaccess
/temp.js
.DS_Store

# Wildcards
*.BACKUP
*.map
*.cfg
/prepros-6.config
