/******************************************************************
Module Name:    Overlay Search
Author:         Laurens Lamberty

This is the stylesheet for the overlay search, which get gets called
in the menu via the 'Search'-Button. This entire module works only with
JavaScript, but without jQuery. Nevertheless, we should keep in mind to
create an alternative for .no-js-devices.

******************************************************************/


.expanding-search {
	position: absolute;
	width: 0%;
	min-width: calc(38px + 1.5em );
	height: 59px;
	float: left;
    left: -1.5em;
	overflow: hidden;
	transition: width 0.3s;
	backface-visibility: hidden;

    .expanding-search-input {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        outline: none;
        background: $white;
        width: 100%;
        height: 19px;
        margin: 0;
        z-index: 10;
        padding: 20px 65px 20px 1.5em;
        font-size: 20px;
    }

}

.expanding-icon-search,
.expanding-search-submit,
.dashicons.expanding-icon-search {
	width: 62px;
	height: 59px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
    cursor: pointer;
    transition: left 0.25s;
}

.expanding-search-submit {
	background: $white; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.expanding-icon-search {
	background: $white;
	z-index: 90;
	font-size: 22px;
}


/* Open state */
.expanding-search.expanding-search-open,
.no-js .expanding-search {
	width: calc(100% + 3em);

    .expanding-icon-search {
	   background: $asphalt;
       color: $white;
	   z-index: 11;
    }

    .expanding-search-submit {
	   z-index: 90;
    }

    .expanding-icon-search, .expanding-search-submit {
        left: calc(100% - 3em);
    }
}

// Extern Search
.extern-search {
    position: relative;

    .expanding-search {
        left: 0;
        position: relative;
        width: 100%;

        .expanding-icon-search, .expanding-search-submit {
            left: calc(100% - 62px);
        }
    }
}
