/******************************************************************
Module Name:    Lightbox
Author:         Laurens Lamberty

This bit of code is important for the image lightbox to work. You can
reduce it further, if you like, but you may also rest for a while and
gease in this lightweight.

******************************************************************/


// IMAGE LIGHTBOX SELECTOR

#imagelightbox {
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    touch-action: none;
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75);
}


// ACTIVITY INDICATION

#imagelightbox-loading,
#imagelightbox-loading div {
    border-radius: 50%;
}

#imagelightbox-loading {
    width: 2.5em;
    height: 2.5em;
    background-color: $asphalt;
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em;
    margin: -1.25em 0 0 -1.25em;
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75);

    div {
        width: 1.25em;
        height: 1.25em;
        background-color: $white;
        animation: imagelightbox-loading .5s ease infinite;
    }

}


@keyframes imagelightbox-loading {
    from {
        opacity: 0.5;
        transform: scale( .75);
    }
    50% {
        opacity: 1;
        transform: scale( 1);
    }
    to {
        opacity: 0.5;
        transform: scale( .75);
    }
}


// THE OVERLAY

#imagelightbox-overlay {
    background-color: $white;
    background-color: rgba( 255, 255, 255, .9);
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// CAPTION (backup)

#imagelightbox-caption {
    text-align: center;
    color: #fff;
    background-color: #666;
    position: fixed;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.625em;
    /* 10 */
}


// ARROWS

.imagelightbox-arrow {
    border: 0 none;
    width: 3.75em;
    height: 7.5em;
    background-color: $link-color;
    vertical-align: middle;
    display: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    margin-top: -3.75em;

    &:hover, &:focus {
        background-color: $link-hover;
    }

    &:before {
        width: 0;
        height: 0;
        border: 1em solid transparent;
        content: '';
        display: inline-block;
        margin-bottom: -0.125em;
    }

}


.imagelightbox-arrow-left {
    left: 2.5em;

    &:before {
        border-left: none;
        border-right-color: $white;
        margin-left: -0.313em;
    }

}
.imagelightbox-arrow-right {
    right: 2.5em;

    &:before {
        border-right: none;
        border-left-color: $white;
        margin-right: -0.313em;
    }

}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-caption,
.imagelightbox-arrow {
    animation: fade-in .25s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 41.250em) {
    #container {
        width: 100%;
    }
    #imagelightbox-close {
        top: 1.25em;
        /* 20 */
        right: 1.25em;
        /* 20 */
    }
    #imagelightbox-nav {
        bottom: 1.25em;
        /* 20 */
    }
    .imagelightbox-arrow {
        width: 2.5em;
        /* 40 */
        height: 3.75em;
        /* 60 */
        margin-top: -2.75em;
        /* 30 */
    }
    .imagelightbox-arrow-left {
        left: 1.25em;
        /* 20 */
    }
    .imagelightbox-arrow-right {
        right: 1.25em;
        /* 20 */
    }
}
@media only screen and (max-width: 20em) {
    .imagelightbox-arrow-left {
        left: 0;
    }
    .imagelightbox-arrow-right {
        right: 0;
    }
}
